
/* make laptios default */
  #myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    object-fit: cover;
    margin-bottom: 1vh;
    height: 400px;
    max-height: 50vh;
    max-width: 100%;
  }

  /* <img id="myImg" class="myImages img-fluid" src="media/glass display.jpg" alt="Nature" style="width: 100%;max-width: 400px;height: 400px;height: 25vh" onclick="myFunction(event);"> */
  .column {
    float: left;
    width: 25%;
    padding: 10px;
  }
  
  /* Style the images inside the grid */
  .column img {
    opacity: 0.8;
    cursor: pointer;
  }
  
  .column img:hover {
    opacity: 1;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* The expanding image container */
  .imgcontainer {
    position: relative;
    display: none;
  }
  
  /* Closable button inside the expanded image */
  .closebtn {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .closebtn:hover,
  .closebtn:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  
  .modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
  }
  
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  
  /* Add Animation */
  .modal-content {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {
      -webkit-transform: scale(0)
    }
  
    to {
      -webkit-transform: scale(1)
    }
  }
  
  @keyframes zoom {
    from {
      transform: scale(0)
    }
  
    to {
      transform: scale(1)
    }
  }

  /* tablets */
  @media screen and (max-width: 992px) {
    #myImg {
      height: 400px;
      max-height: 30vh;
      max-width: 100%;
    }

    .hfive {
      font-size: medium;
    }    

    .st {
      font-size: x-small;
    }

    
  }

  /* phones  */
  @media screen and (max-width: 600px) {
    #myImg {
      height: 400px;
      max-height: 30vh;
      max-width: 100%; 
    }
    
    .hfive {
      font-size: small;
    }

    .sneakpeak {
      font-size: medium;
    }

    
    .st {
      font-size: x-small;
    }
  }